/* CSS Document */

/* 默认分页样式 */

.page_handle_box { margin-top:10px; zoom:1; overflow:hidden; height:31px; /*border:1px solid red;*/}

.page_prev{ float:left; background-image:url(../images/prev_page_default.jpg); background-repeat:no-repeat; width:86px; height:31px; text-decoration:none;}



.page_text { float:left; background-image:url(../images/page_list_default.jpg); background-repeat:repeat-x; color:#464646; font-size:14px; font-weight:bold; height:31px; line-height:31px; margin-left:5px; padding:0px 8px; text-decoration:none; border:1px solid #B4B4BA; }

.page_text:hover {background-image:url(../images/page_list_default_bak.jpg); background-repeat:repeat-x; color:#464646; border:1px solid #B4B4BA; }



.page_list { float:left; background-image:url(../images/page_list_default.jpg); background-repeat:repeat-x; color:#464646; font-size:14px; font-weight:bold; height:31px; line-height:31px; margin-left:5px; padding:0px 5px; text-decoration:none; border:1px solid #B4B4BA; }

.page_list:hover {background-image:url(../images/page_list_default_bak.jpg); background-repeat:repeat-x; color:#464646; border:1px solid #B4B4BA; }

.page_now {float:left; background-image:url(../images/page_list_default_bak.jpg); background-repeat:repeat-x; color:#464646; font-size:14px; font-weight:bold; height:31px; line-height:31px; margin-left:5px; padding:0px 5px; border:1px solid #B4B4BA;}

.page_input_span { float:left;border:1px solid #B4B4BA; height:29px; margin-left:5px;}

.page_input_span input { border:0px solid red; height:24px; line-height:24px; color:#555; font-size:14px; font-weight:bold; width:30px; text-align:center;}

.page_next { float:left; background-image:url(../images/next_page_default.jpg); background-repeat:no-repeat; height:31px; line-height:31px; width:86px; margin-left:5px;}